menu "Application Configuration"

	choice MODEL
		prompt "Your module"
		default MODEL_SC16IS750
		help
			Select Hardware.
		config MODEL_SC16IS750
			bool "SC16IS750"
			help
				Your module is SC16IS750.
		config MODEL_SC16IS752
			bool "SC16IS752"
			help
				Your module is SC16IS752.
	endchoice

	config BAUDRATE1
		int "Communication speed of channel 1(bps)"
		default 115200
		help
			Communication speed of channel 1(bps).

	config AUTO_RS1
		bool "Enable Auto RS-485 RTS control for channel 1"
		default false
		help
			Enable Auto RS-485 RTS control for channel 1.

	config INVERT_RS1
		depends on AUTO_RS1
		bool "Enable RS-485 RTS output inversion for channel 1"
		default false
		help
			RS-485 RTS output inversion for channel 1.

	config BAUDRATE2
		depends on MODEL_SC16IS752
		int "Communication speed of channel 2(bps)"
		default 115200
		help
			Communication speed of channel 2(bps).

	config AUTO_RS2
		depends on MODEL_SC16IS752
		bool "Enable Auto RS-485 RTS control for channel 2"
		default false
		help
			Enable Auto RS-485 RTS control for channel 1.

	config INVERT_RS2
		depends on AUTO_RS2
		bool "Enable RS-485 RTS output inversion for channel 2"
		default false
		help
			RS-485 RTS output inversion for channel 2.


endmenu

