menu "Application Configuration"

	choice MODEL
		prompt "Your module"
		default MODEL_SC16IS750
		help
			Select Hardware.
		config MODEL_SC16IS750
			bool "SC16IS750"
			help
				Your module is SC16IS750.
		config MODEL_SC16IS752
			bool "SC16IS752"
			help
				Your module is SC16IS752.
	endchoice

endmenu

