menu "Application Configuration"

	config GPIO_RANGE_MAX
		int
		default 33 if IDF_TARGET_ESP32
		default 46 if IDF_TARGET_ESP32S2
		default 48 if IDF_TARGET_ESP32S3
		default 18 if IDF_TARGET_ESP32C2
		default 19 if IDF_TARGET_ESP32C3
		default 30 if IDF_TARGET_ESP32C6

	choice MODEL
		prompt "Your module"
		default MODEL_SC16IS750
		help
			Select Hardware.
		config MODEL_SC16IS750
			bool "SC16IS750"
			help
				Your module is SC16IS750.
		config MODEL_SC16IS752
			bool "SC16IS752"
			help
				Your module is SC16IS752.
	endchoice

	config SC16IS750_GPIO
		int "SC16IS75x GPIO number"
		range 0 7
		default 0
		help
			GPIO number of SC16IS750.

	choice DIRECTION
		prompt "Direction of GPIO"
		default GPIO_OUTPUT
		help
			Select direction of GPIO.
		config GPIO_OUTPUT
			bool "GPIO is OUTPUT"
			help
				GPIO is OUTPUT.
		config GPIO_INPUT
			bool "GPIO is INPUT using polling"
			help
				GPIO is INPUT using polling.
		config GPIO_INTERRUPT
			bool "GPIO is INPUT using interrupt"
			help
				GPIO is INPUT using interrupt.
	endchoice

	config IRQ_GPIO
		depends on GPIO_INTERRUPT
		int "IRQ GPIO number"
		range 0 GPIO_RANGE_MAX
		default 16 if IDF_TARGET_ESP32
		default 38 if IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
		default  7 # C3 and others
		help
			GPIO number (IOxx) to SPI SCLK.
			Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to DC.
			On the ESP32, GPIOs 35-39 are input-only so cannot be used as outputs.
			On the ESP32-S2, GPIO 46 is input-only so cannot be used as outputs.

endmenu

